


.main{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.calculator{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.calculator__display{
    background-color: var(--Very-dark-desaturated-blue-3);
    border-radius: 5px;
    color: var(--white-1);
    height: 90px;
    font-size: 32px;
    margin: 1rem 0;
    width: 100%;
    outline: none;
    text-align: end;
}

.calculator__buttons{
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--Very-dark-desaturated-blue-2);
    padding: 1rem;
}

.numbers__row{
    align-items: center;
    display: flex;
    
}

.numbers__last{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}

.btn-operator,.btn-func{
    align-items: center;
    background: var(--Light-grayish-orange-1);
    border-radius: 10px;
    color: var(--Desaturated-dark-blue-3);
    cursor: pointer;
    display: flex;
    font-size: 32px;
    justify-content: center;
    margin: 0.5rem 1.2rem;
    width: 80px;
    text-align: center;
    padding: 0.5rem 0 0.3rem 0;
    border-bottom: 3px solid var(--grayish-orange);
}

.btn-operator:hover{
    background: var(--white-1);
}

.btn-func, .btn-reset{
    background: var(--Desaturated-dark-blue-1);
    color: var(--white-1);
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 3px solid var(--very-dark-grayish-blue);
}

.btn-func:hover, .btn-reset:hover{
    background: var(--Desaturated-dark-blue-1-transparent);
}

.btn-reset, .btn-equal{
    margin: 1rem;
    color: var(--white-1);
    cursor: pointer;
    font-size: 32px;
    padding: 0.5rem 0 0.3rem 0;
    border-radius: 10px;
    
}

.btn-equal{
    background: var(--Red);
    border-bottom: 3px solid var(--Dark-red);
}

.btn-equal:hover{
    background: var(--Red-transparent);
}